*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header .logo img{
    height: 100px;
    width: 100px;
}
header {
    background-color: #E7DFC6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem;
}
form input ,button{
    padding: 10px;
    border-radius: 5px;
}
button {
    background-color: black;
    color: #fff;
    margin-left:10px ;
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    height: 500px;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px 4px rgba(184,184,184,1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;

}
.box h2 , .overview-box h2{
    font-size: calc(0.75rem + 1vw);
}
.overview-box h1{
    font-size: calc(0.95rem + 1vw);
}

.box a , .overview-box p {
    font-size: calc(0.50rem + 1vw);
}

.box img{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.box img:hover{
    transform: translateY(-20px);
}

.box a ,.overview-box a{
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    color: #000;
    background-color: #E7DFC6;
    transition: all 0.6s ease;
    margin: 5px;
}
 a:hover{
    background-color: #000;
    color: #E7DFC6;
    transform: translateX(20px);
}
.box:hover{
    border-radius: 50px;
   
}
.overview-box{
    height: 90%;
    width: 80%;
   margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 4px 4px rgba(184,184,184,1);
    padding: 2rem;
}
.overview-box img{
    height: 45%;
    width: 23%;
    border-radius: 10px;
}
.overview{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.overview iframe {
    height: 70%;
    width: 80%;
    border-radius: 50px;
    transition: all 0.5s ease;
}
iframe:hover{
    box-shadow: 1px 1px 4px 4px rgba(184,184,184,1);
   
}
@media all and (max-width : 960px){
    .box{
        margin: 0.5rem;
    padding: 0.5rem;
    }
    .overview iframe {
        height: 80%;
        width: 90%;
    }
    .overview-box img{
        height: 60%;
        width: 50%;
    }
}
@media all and (max-width : 700px){
    .box{
    width: 45%;
    }
    .overview-box{
        margin: 0.rem;
    }
        .overview-box img{
            height: 60%;
            width: 60%;
        }
    header {
      
        padding: 0.5rem 2rem;
    }
    .overview iframe {
        height: 65%;
        width: 95%;
    }
}
@media all and (max-width : 600px){
    .box img{
        height: 60%;
        width: 80%;
    }
    .box{
        justify-content: space-evenly;
    }
    .overview-box img{
        height: 50%;
        width: 70%;
    }
    header {
      
        padding: 0.5rem 1rem;
    }
    header .logo img{
        height: 60px;
        width: 60px;
    }
    form input ,button{
        padding: 5px;
    }
    button{
        margin-left:5px
    }
}
@media all and (max-width : 500px){
    .box img{
        height: 60%;
        width: 90%;
    }
    .box{
        margin: 10px;
        padding: 10px;
    }
    .overview-box img{
        height: 60%;
        width: 95%;
    }
    .overview-box h1, h2, p ,h3{
        margin: 2px 0;
    }
    .overview iframe {
        height: 55%;
        width: 99%;
    }
}
@media all and (max-width : 400px){
    .box img{
        height: 60%;
        width: 95%;
    }
    .box{
        margin: 5px;
        padding: 5px;
    }
   
}
